<div>
    <h1>Developer </h1>
    <p>Anatoliy Liberman</p>    
    <span href = 'github.com/tliber'> Github></span>
    <b></b>
    <body>The purpose of this project is to provide a roadmap
    of developers of all levels to help elucidate their
    individual strenghts and weaknesses. It was inspired by
    a blogpost by Sijin Joseph <span href ='http://sijinjoseph.com/programmer-competency-matrix/'></span>
    which helped me take my coding to new levels. As with his article, the levels
    and ideals of a complete fullstack developer are entirely subjective from my point 
    of view. With that said, I aim to have the most accurate and complete presentation
    of the material ya programmer would need today to build out anything they might imagine</body>
</div>